<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>use/f1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 705}, {746, 702}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {746, 702}}</string>
			<key>sourceSize</key>
			<string>{746, 702}</string>
		</dict>
		<key>use/f2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {794, 702}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {794, 702}}</string>
			<key>sourceSize</key>
			<string>{794, 702}</string>
		</dict>
		<key>use/img1.png</key>
		<dict>
			<key>frame</key>
			<string>{{705, 705}, {746, 702}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {746, 702}}</string>
			<key>sourceSize</key>
			<string>{746, 702}</string>
		</dict>
		<key>use/img2.png</key>
		<dict>
			<key>frame</key>
			<string>{{797, 1}, {794, 702}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {794, 702}}</string>
			<key>sourceSize</key>
			<string>{794, 702}</string>
		</dict>
		<key>use/reversed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1593, 1}, {144, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 136}}</string>
			<key>sourceSize</key>
			<string>{144, 136}</string>
		</dict>
		<key>use/reversed2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 1}, {144, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 128}}</string>
			<key>sourceSize</key>
			<string>{144, 128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>use.png</string>
	</dict>
</dict>
</plist>
