<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>use/a1.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 131}, {28, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 39}}</string>
			<key>sourceSize</key>
			<string>{28, 39}</string>
		</dict>
		<key>use/ang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 131}, {28, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 38}}</string>
			<key>sourceSize</key>
			<string>{28, 38}</string>
		</dict>
		<key>use/ang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 200}, {35, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 36}}</string>
			<key>sourceSize</key>
			<string>{35, 36}</string>
		</dict>
		<key>use/ang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 161}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>use/ang4.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 209}, {28, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 35}}</string>
			<key>sourceSize</key>
			<string>{28, 35}</string>
		</dict>
		<key>use/angel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{442, 131}, {28, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 39}}</string>
			<key>sourceSize</key>
			<string>{28, 39}</string>
		</dict>
		<key>use/angel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{38, 200}, {35, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 36}}</string>
			<key>sourceSize</key>
			<string>{35, 36}</string>
		</dict>
		<key>use/angel3.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 161}, {37, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 35}}</string>
			<key>sourceSize</key>
			<string>{37, 35}</string>
		</dict>
		<key>use/angel4.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 198}, {27, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 37}}</string>
			<key>sourceSize</key>
			<string>{27, 37}</string>
		</dict>
		<key>use/bb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 66}, {92, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {92, 63}}</string>
			<key>sourceSize</key>
			<string>{92, 63}</string>
		</dict>
		<key>use/bb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 1}, {92, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {92, 63}}</string>
			<key>sourceSize</key>
			<string>{92, 63}</string>
		</dict>
		<key>use/bbb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 200}, {36, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 24}}</string>
			<key>sourceSize</key>
			<string>{36, 24}</string>
		</dict>
		<key>use/bbb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{111, 200}, {36, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 25}}</string>
			<key>sourceSize</key>
			<string>{36, 25}</string>
		</dict>
		<key>use/f1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 246}, {186, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {186, 175}}</string>
			<key>sourceSize</key>
			<string>{186, 175}</string>
		</dict>
		<key>use/f2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {198, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 175}}</string>
			<key>sourceSize</key>
			<string>{198, 175}</string>
		</dict>
		<key>use/img1.png</key>
		<dict>
			<key>frame</key>
			<string>{{178, 178}, {186, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {186, 175}}</string>
			<key>sourceSize</key>
			<string>{186, 175}</string>
		</dict>
		<key>use/img2.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 1}, {198, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 175}}</string>
			<key>sourceSize</key>
			<string>{198, 175}</string>
		</dict>
		<key>use/reversed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 200}, {36, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 34}}</string>
			<key>sourceSize</key>
			<string>{36, 34}</string>
		</dict>
		<key>use/reversed2.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 171}, {36, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 32}}</string>
			<key>sourceSize</key>
			<string>{36, 32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>use.png</string>
	</dict>
</dict>
</plist>
